.mainNav {
  background: $brand-primary;

  position: -webkit-sticky;
  position: sticky;

  button {
    .icon-bar {
      background-color: $brand-white !important;
    }
    &:hover,
    &:focus {
      background-color: $brand-secondary !important;
    }
  }
}

.navbar {
  padding: 0;
}

.dsaNavItem {
  a {
    color: $brand-white !important;
    text-decoration: none;
    padding: 1rem !important;

    &:hover,
    &:focus {
      color: $brand-text !important;
      background-color: $brand-white !important;
      text-decoration: underline !important;
    }

    &:focus {
      @include inset-focus;
    }
  }

  &.active {
    a {
      color: $brand-text !important;
      background-color: $brand-white !important;
    }
  }
}

.nav-item a.nav-link {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline !important;
  }
}
