#ranked-candidates {
  .btn-success.active {
    background-color: $brand-success;
    border-color: $brand-success;
  }
  .anchor {
    padding: 12px;
    margin: 4px;
    border-radius: 24px;
    > hr {
      visibility: hidden;
      height: 0;
      margin: 0 auto;
      padding: 0;
      border: none;
      border-top: 8px dotted #fff;
      width: 75%;
    }
    &.highlighted {
      > hr {
        visibility: visible;
      }
    }
    &:hover {
      background: #777;
    }
  }
}

#unranked-candidates > * {
  margin-top: 20px;
  margin-bottom: 20px;
}

button#vote {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50px;
}

// below is for voting dataviz
.recharts-xAxis .recharts-cartesian-axis-tick line,
.recharts-yAxis .recharts-cartesian-axis-tick line {
  stroke: none;
}
.recharts-yAxis .recharts-cartesian-axis-tick text {
  font-size: 0.925em;
  font-weight: bold;
}

text.onRed tspan {
  fill: #fff;
}

text.onWhite tspan {
  fill: #ec1e24;
}

.titleBox {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
  border-bottom: 1px solid #ccc;
}

h3.title {
  width: 50%;
  line-height: 1.5;
  text-align: right;
  font-size: 2.25em;
  padding: 20px 0;
  margin: 0;
}

h2.roundTitle {
  width: 48%;
  line-height: 1.5;
  padding: 20px 0;
  margin: 0;
}

.app-container {
  &.fullscreen {
    background: $brand-primary;
  }
}
g.recharts-xAxis tspan {
  fill: #fff;
}
.chartBox {
  display: flex;
  align-items: top;
  padding: 1.5em 0 0;
}
.winnerBox,
.legend {
  border: 1px dashed $brand-dark-shadow;
}

.legend {
  padding: 1em 0.5em;
  margin-bottom: 1.5em;
  li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 0.5em;
    i {
      display: inline-block;
      width: 1em;
      height: 1em;
      margin: 0 0.5em 0 0.25em;
    }
    strong {
      font-size: 1em;
    }
    &:first-child {
      margin-top: none;
    }
  }
}

.winnerBox {
  h4 {
    background-color: $brand-header-text;
    color: #fff;
    font-size: 1em;
    text-align: center;
    margin: 0;
    padding: 0.325em 0;
    font-size: 2.25em;
  }
  ol {
    width: 80%;
    padding: 0.5em;
    margin: auto;
    li {
      font-weight: bold;
      margin: 0.5em 0 0;
    }
  }
}

.buttonBox {
  padding-left: 200px;
}

button {
  font-size: 1.5em;
  padding: 0 0.5em 0.125em;
  cursor: pointer;
}

.fullscreen {
  color: #fff;
  .titleBox {
    margin: 1em 0 1em;
  }
  h2.roundTitle,
  h3.title {
    font-size: 2.5em;
    small {
      font-size: 0.625em;
      color: #333;
    }
  }
  h3.title {
    width: 40%;
  }

  h2.roundTitle {
    width: 58%;
  }

  g.recharts-layer.recharts-reference-line tspan,
  g.recharts-yAxis tspan {
    fill: #fff;
  }

  .recharts-yAxis .recharts-cartesian-axis-tick text {
    font-size: 1em;
  }
  g.recharts-label-list text {
    font-size: 1.2em;
    font-weight: bold;
  }
  g.recharts-reference-line text {
    font-size: 1.2em;
  }

  g.recharts-xAxis tspan {
    fill: #ec1e24;
  }
  .chartBox {
    padding: 0;
  }
  .infoBox {
    padding: 0 0.5em 0 0;
    flex-grow: 1;
  }

  .titleBox {
    border-bottom: 0;
  }
  h2.roundTitle,
  h1.title {
    color: #fff;
  }
  text.onGrey tspan {
    fill: #fff;
  }
  .buttonBox {
    padding-left: 210px;
  }
  button {
    font-size: 2em;
    padding: 0 0.75em 0.125em;
    background: #333;
    border: 0;
    &:first-child {
      margin-right: 0.5em;
    }
    &[disabled] {
      color: #666;
    }
  }
  .winnerBox,
  .legend {
    border: 4px dashed $brand-light-shadow;
  }
  .winnerBox {
    font-size: 1.25em;
    h4 {
      background-color: $brand-light-shadow;
      color: $brand-header-text;
      text-align: center;
      margin: 0;
      padding: 0.325em 0;
      font-size: 1.5em;
    }
    ol {
      width: 80%;
      padding: 0.5em 1em 1em;
      margin: auto;
      li {
        margin: 0.5em 0 0;
      }
    }
  }
  .legend {
    padding: 0.5em 1em 0.75em;
    margin-bottom: 2em;
    margin-top: 0.5em;
    li {
      i {
        width: 1.5em;
        height: 1.5em;
        margin: 0 0.5em;
      }
      strong {
        font-size: 1.25em;
      }
      &:first-child {
        margin-top: none;
      }
    }
  }
}

.fullscreen_large {
  color: #fff;
  .titleBox {
    margin: 2em 0 2em;
  }
  h2.roundTitle,
  h2.title {
    font-size: 3em;
    small {
      color: #333;
    }
  }
  h3.title {
    width: 30%;
  }

  h2.roundTitle {
    width: 58%;
  }

  g.recharts-layer.recharts-reference-line tspan,
  g.recharts-yAxis tspan {
    fill: #fff;
  }

  .recharts-yAxis .recharts-cartesian-axis-tick text {
    font-size: 1.2em;
  }
  g.recharts-label-list text {
    font-size: 1.725em;
    font-weight: bold;
  }
  g.recharts-reference-line text {
    font-size: 1.5em;
  }

  g.recharts-xAxis tspan {
    fill: #ec1e24;
  }
  .chartBox {
    padding: 0;
  }

  .titleBox {
    border-bottom: 0;
  }
  h2.roundTitle,
  h1.title {
    color: #fff;
  }
  text.onGrey tspan {
    fill: #fff;
  }
  .buttonBox {
    padding-left: 240px;
  }
  button {
    font-size: 2.8em;
    padding: 0 0.75em 0.125em;
    background: #333;
    border: 0;
    &:first-child {
      margin-right: 0.5em;
    }
    &[disabled] {
      color: #666;
    }
  }
  .winnerBox,
  .legend {
    border: 5px dashed $brand-light-shadow;
  }
  .winnerBox {
    font-size: 1.5em;
    h4 {
      background-color: $brand-light-shadow;
      color: $brand-header-text;
      text-align: center;
      margin: 0;
      padding: 0.325em 0;
      font-size: 2.25em;
    }
    ol {
      width: 80%;
      padding: 1em;
      margin: auto;
      li {
        font-weight: bold;
        margin: 0.5em 0 0;
      }
    }
  }
  .legend {
    padding: 2.5em 1.5em;
    margin-bottom: 2.5em;
    margin-top: 2em;
    li {
      i {
        width: 2em;
        height: 2em;
        margin: 0 0.5em;
      }
      strong {
        font-size: 1.5em;
      }
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
