// import variables and mixins first
@import 'colors';
@import 'variables';
@import 'mixins';
// then import everything else
@import 'admin';
@import 'elections';
@import 'emails';
@import 'membership';
@import 'paperballot';
@import 'navigation';
@import 'react-datetime';
@import 'vote';
@import 'member-search';
@import 'meeting';
@import 'external';

// Ideally we'd just do :focus, but we need to override
// Bootstrap selectors too!
:focus,
a:focus,
.btn:focus,
.form-control:focus {
  // Use box shadow when supported, since it follows rounded corners, and
  // fall back to outline in other browsers.
  box-shadow: $box-shadow-focus;
  outline: $outline-focus;

  @supports (box-shadow: 0 0 0 black) {
    // Remove outline when box-shadow is supported.
    outline: none;
  }
}

// Due to a Safari quirk, we have to use outline on checkboxes.
input[type='checkbox']:focus {
  outline: $outline-focus;
  outline-offset: 0;
}

input:not([value='']):valid {
  // Use box shadow when supported, since it follows rounded corners, and
  // fall back to outline in other browsers.
  box-shadow: 0 0 0 0.2rem $brand-success;
  outline: 0.2rem solid $brand-success;

  @supports (box-shadow: 0 0 0 black) {
    // Remove outline when box-shadow is supported.
    outline: none;
  }
}

input:invalid {
  // Use box shadow when supported, since it follows rounded corners, and
  // fall back to outline in other browsers.
  box-shadow: 0 0 0 0.2rem $brand-error;
  outline: 0.2rem solid $brand-error;

  @supports (box-shadow: 0 0 0 black) {
    // Remove outline when box-shadow is supported.
    outline: none;
  }

  // Show thinner box shadow errors for empty fields that are not focused
  &[required][value='']:not(:focus) {
    box-shadow: 0 0 0 1px $brand-error;
    outline: 1px solid $brand-error;

    @supports (box-shadow: 0 0 0 black) {
      // Remove outline when box-shadow is supported.
      outline: none;
    }
  }
}

// Remove dotted border inside buttons in Firefox.
::-moz-focus-inner {
  border: 0;
}

// Hide the focus indicator if the element receives focus via the mouse, but it
// will still show up on keyboard focus.
.js-focus-visible :focus:not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

a {
  color: $brand-link-text;
  text-decoration: underline;
}

a:visited {
  text-decoration: underline;
}

a:hover {
  color: $brand-link-text-hover;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $brand-background;
  color: $brand-text;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h1,
h2,
h3,
h4 {
  color: $brand-header-text;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.panel {
  background-color: $brand-light-shadow;
}

button {
  color: $brand-button-text;
  background-color: $brand-primary;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 100%;
}

button,
.btn.btn-primary {
  background-color: $brand-primary;
  color: $brand-button-text;
  border-color: darken($brand-primary, 10%);
}

.btn-primary:hover {
  background-color: darken($brand-primary, 5%);
}

.btn.btn-outline-primary {
  background-color: $brand-white;
  color: $brand-primary;
  border-color: darken($brand-primary, 10%);
}

.btn-outline-primary:hover {
  background-color: $brand-primary;
  color: $brand-button-text;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: $brand-primary;
  color: $brand-button-text;
  border-color: darken($brand-primary, 10%);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: darken($brand-primary, 10%);
  border-color: darken($brand-primary, 10%);
}

button.inactive {
  background-color: $brand-disabled;
  & :active {
    background-color: $brand-disabled;
  }
}

button:disabled,
button[disabled] {
  background-color: $brand-disabled;
}

input {
  color: $brand-text !important;
}

textarea {
  color: $brand-text !important;
  box-sizing: border-box;
  width: 50%;
}

select {
  color: $brand-button-text;
  background-color: $brand-primary;
  border: none;
  padding: 8px;
}

img {
  max-width: 100%;
}

#root {
  height: 100%;
}

.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  // The page-level skip link (skip to main content)
  > .skip-link {
    background: $brand-white;
    padding: 1em;
  }
}

.nav-container {
  z-index: 100;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer-padding {
  padding: 50px;
}

.text-pre-wrap {
  white-space: pre-wrap;
}

.glyphButton {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}

@import 'components/skip-link';
@import 'components/wrapper-link';
@import 'components/page-heading';

.loading-wheel {
  font-size: 8em;
  color: $brand-header-text;
  animation: spin 2s infinite linear;
  -webkit-animation: spin2 2s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.rose {
  &::before {
    content: '🌹 ';
  }
  &.after,
  &.wrap {
    &::after {
      content: ' 🌹';
    }
  }
  &.after {
    &::before {
      content: none;
    }
  }
}

.popover {
  box-shadow: 0px 5px 20px -5px $brand-dark-shadow;
}
