.collective-dues-screen {
  display: flex;
  flex-direction: column;

  aside {
    margin-top: 1em;
  }
}

.collective-dues-form {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 20px -10px $brand-dark-shadow;

  .stripe-placeholder {
    padding: 2em;
    border: 1px solid $brand-dark-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.collective-dues-step {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: stretch;

  &:not(:last-child) {
    border-bottom: 1px solid $brand-dark-shadow;
  }
}

.collective-dues-step h3 {
  margin-top: 0;
  padding-top: 0;
  font-size: 1.5rem;
}

.dues-choice {
  display: flex;
  flex-direction: row;
}

.other-amount-error-alert {
  margin-top: 0.5rem;
}

.processing-fee-notice-alert {
  margin-bottom: 0;
  border-radius: 0;
  border: none;
  box-shadow: inset 0 2px 10px -5px $brand-dark-shadow;
}

.dues-split-step .split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 0;

  .national-split {
    text-align: right;
  }

  header {
    font-size: 13px;
  }

  span.amount-value {
    font-size: 32px;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
  }

  span.amount-period {
    font-size: 18px;
    font-weight: 600;
  }
}

.dues-split-step {
  input[type='range']:not([value='']):valid {
    box-shadow: none;
    outline: none;
  }

  input.form-control {
    border: none;
  }
}

.split-breakdown {
  margin: 1rem 0;
  padding: 1rem 0;

  border: 1px solid $brand-dark-shadow;
  border-width: 1px 0 0;

  .split-breakdown-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    dd {
      margin: 0;
    }
  }
}

.dues-continue-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.change-dues-button {
  text-align: left;
  padding: 0.75rem 1.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.total-amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: -1rem;
  margin-bottom: 1rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding: 0.5rem 1.5rem;
  border-bottom: 2px solid $brand-dark-shadow;

  background-color: $brand-primary;
  color: $brand-button-text;

  dt {
    font-size: 18px;
    font-weight: 600;
  }

  dd {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0;
  }
}

.stripe-card-element {
  padding: 0.375rem 0.75rem;
  font-family: 'Work Sans', sans-serif;
  border: 1px solid #ced4da; // from form-control styles
  border-radius: 0.25rem;
}

.payment-info-step {
  padding: 0 1.5rem;
  margin: 0 -1.5rem;

  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-bottom: none !important;
  border-top: 1px solid $brand-dark-shadow;

  hr {
    width: 100%;
  }
}

.payment-notice,
.information-security-notice {
  margin-top: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 11px;
}

.form-column {
  margin-bottom: 2rem;

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// Cribbed from the meeting kiosk confirmation screen
// TODO Maybe fold them together later

.payment-confirm-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 0;

  .payment-confirm-icon {
    color: $brand-success;
    font-size: 8rem;
    animation: confirm-check 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .payment-confirm-text {
    font-size: 2rem;
    animation: fade-in 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }

  .payment-confirm-subtext {
    text-align: center;
  }

  .event-action-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    text-decoration: none;

    span {
      margin-left: 1rem;
    }
  }
}
