.comms-opt-out {
  color: $brand-error;
  font-weight: 600;
}

.comms-okay {
  color: $brand-success;
  font-weight: 600;
}

.member-notes-textarea-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

textarea,
.notes-textarea,
.bio-textarea {
  flex: 1 1 auto;
  width: 100%;

  padding: 0.5em 0.5em;

  border: 1px solid $brand-dark-shadow;
  box-shadow: 0 2px 30px -20px $brand-dark-shadow;
}

.add-entry-button-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.modifylist-entry.modifylist-action-delete span {
  text-decoration: line-through;
}

.edit-member-footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 auto;
}

.edit-member-footer-action-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  flex: 1 1 auto;

  & > *:not(:last-child) {
    margin-right: 1rem;
  }
}
