.skip-link {
  // Hide the skip link when not focused
  opacity: 0;
  position: absolute;
  pointer-events: none;
  z-index: -9999;

  &:focus {
    @include inset-focus;

    opacity: 1;
    position: relative;
    pointer-events: all;
    z-index: 0;
  }
}
